/* GTK 3 THEME BASED ON GTK 4/LIBADWAITA
   ----------------
   To debug thunar gtk, run: GTK_DEBUG=interactive thunar

   sometimes this wont open the debug dialog, then run: thunar -q

   this happens cuz its somehow running in the backround
   thus the theme wont apply properly

   gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'
   gsettings set org.gnome.desktop.interface color-scheme 'prefer-light'
*/

/*********
* Common *
*********/

@define-color theme_selected_bg_color rgb(87, 87, 87);
@define-color theme_unfocused_selected_bg_color rgb(87, 87, 87);

@define-color primary rgb(28, 28, 28);
@define-color secondary rgb(43, 43, 43);
@define-color tertiary rgb(57, 179, 227);

@define-color hover rgb(64, 64, 64);
@define-color selected rgb(89, 89, 89);

@define-color fontColor rgb(227, 227, 227);
@define-color fontColorBackdrop rgb(186, 186, 186);
@define-color fontColorDisabled rgb(100, 100, 100);

/**********
 * Thunar *
 **********/
 
 .thunar * {
  -ThunarAbstractIconView-row-spacing: 35;
  -ThunarAbstractIconView-column-spacing: 15;
}
/* Background of the entire app */
/* should u want transparency on other components, this needs to be transparent as well */
.thunar.background  {
  background-color: @primary;
}

/* Main view ( Ctrl+1 file view ) */
.thunar notebook stack scrolledwindow widget.view {
  background-color: @primary;
  color: @fontColor;
}
.thunar notebook stack scrolledwindow widget.view:backdrop {
  color: @fontColorBackdrop;
}


/* List view ( Ctrl + 2 ) header buttons  */
.thunar notebook stack scrolledwindow treeview.view  {
  background-color: @primary;
  color: @fontColor;
}
.thunar notebook stack scrolledwindow treeview.view:backdrop  {
  color: @fontColorBackdrop;
}


/* List view header buttons  */
.thunar treeview header button  {
  border-color: @hover;
  color: @fontColor;
  background-color: @secondary;
  text-shadow: none;
}


/* Selection square */
.thunar notebook stack scrolledwindow widget .rubberband {
  border: 1px solid #7aa2f7;
  background-color: rgba(69, 166, 245, 0.3);
}


/* Sidepane */
.thunar scrolledwindow.sidebar treeview.view {
  background-color: @secondary;
  padding: 8px 10px 8px 0px;
  color: @fontColor; 
}
.thunar scrolledwindow.sidebar treeview.view:backdrop {
  color: @fontColorBackdrop;
}
.thunar scrolledwindow.sidebar treeview.view:hover {
  background-color: @hover; 
}
.thunar scrolledwindow.sidebar treeview.view:selected {
  background-color: @selected;
  color: @fontColor;
  border-radius: 0;
  box-shadow: none; 
}
.thunar scrolledwindow.sidebar treeview.view:selected:backdrop {
  background-color: @hover;
}


/* Separator border between Main View and Side pane */
.thunar grid > paned > separator {
  background-color: @secondary;
}


/* Top bar */
.thunar toolbar {
  background-color: @secondary;
}
.thunar toolbar.horizontal button image {
  -gtk-icon-transform: scale(0.75);
}
.thunar toolbar.horizontal button {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  -gtk-icon-shadow: none;
  text-shadow: none;
}
.thunar toolbar.horizontal button {
  color: @fontColor;
}
.thunar toolbar.horizontal button:backdrop {
  color: @fontColorBackdrop;
}
.thunar toolbar.horizontal button:disabled {
  color: @fontColorDisabled;
}
.thunar toolbar.horizontal button:hover,
.thunar toolbar.horizontal button:active,
.thunar toolbar.horizontal button:checked {
  color: @tertiary;
}
.thunar toolbar button.path-bar-button,
.thunar toolbar button.location-button {
  background-color: transparent;
  border: none;
}
.thunar button.toggle.path-bar-button:checked,
.thunar toolbar .path-bar-button:checked {
  border-radius: 5px; 
  background: linear-gradient(to right, #38758c, #39b3e3);
  color: @fontColor;
}
.thunar toolbar entry {
  background: @primary;
  color: @fontColor;
}


 /* Statusbar ( Bottom ) */
.thunar grid > paned > paned > grid > widget {
  background-color: @secondary;
  color: @fontColor;
}
.thunar grid > paned > paned > grid > widget:backdrop {
  color: @fontColorBackdrop;
}


/* Infobar (bottom bar with buttons on Trash) */
.thunar infobar box.horizontal {
  background-color: @secondary;
  border-color: @selected;
}


/* Thunar tabs */
.thunar notebook header tabs {
  background-color: @secondary;
  border: 1px solid @hover;
}
.thunar notebook header tabs tab {
  background-color: @secondary;
  color: @fontColor;
  border: none;
}
.thunar notebook header tabs tab:backdrop {
  color: @fontColorBackdrop;
}

/* Borders */
.thunar scrolledwindow {
  border-color: @hover;
}
.thunar separator {
  background-image: none;
}

/************
 * Mousepad *
 ************/
.mousepad scrolledwindow textview border.left {
  background-color: @primary;
}

/* Context menus, thunar doesn't have specific css classes for this */
menu {
  border-radius: 12px;
  padding: 8px;
  background-color: @hover;
  background-clip: border-box;
  border: 1px solid @secondary;
  color: @fontColor;
}
.csd.popup decoration {
  border-radius: 12px;
  box-shadow: none;
}
menu menuitem {
  min-height: 25px;
  min-width: 40px;
  padding: 8px;
  color: @fontColor;
  text-shadow: none;
  border-radius: 10px;
}
menu menuitem:hover {
  border-radius: 10px;
  background-color: @selected;
}

/* Gtk waybar buttons incorrect hover colors fix */
notebook > header > tabs > arrow:hover, button:hover {
  background-image: none;
  text-shadow: none;
}
