// --- AUTOSTART ---

// Note that running niri as a session supports xdg-desktop-autostart,
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "awww-daemon"
//spawn-sh-at-startup "swaybg -m fill -i $HOME/Pictures/Wallpapers/virtuousContract.png"
spawn-sh-at-startup "wlsunset -t 3000 -T 4000"
