// --- WINDOW RULES ---

// https://niri-wm.github.io/niri/Configuration:-Window-Rules
// niri msg --json windows

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
    draw-border-with-background false
    open-maximized true
}

window-rule {
    match app-id=r#"zen$"#
    open-maximized true
}

window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"zen$"# title="^Library$"
    open-floating true
    default-column-width { proportion 0.55; }
    default-window-height { proportion 0.75; }
}

window-rule {
    match app-id=r#"Alacritty$"#
    open-maximized false
    block-out-from "screencast"
    background-effect {
        blur true
    }
}

window-rule {
    match app-id=r#"thunar$"#
    open-maximized false
    block-out-from "screencast"
}

window-rule {
    match app-id=r#"thunar$"# title=r#"^Rename.*|^File Operation Progress.*"#
    open-floating true
}
