// --- WINDOW RULES ---

// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// GLOBAL RULES
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
    draw-border-with-background false
    open-maximized false
}

// BROWSER
window-rule {
    match app-id=r#"zen$"#
    open-maximized true
}

window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
}

// FILE MANAGER
window-rule {
    match app-id=r#"thunar$"#
    block-out-from "screencast"
}

window-rule {
    match app-id=r#"thunar$"# title=r#"^Rename.*|^File Operation Progress.*"#
    open-floating true
}
