@define-color midGrey rgba(140, 140, 140, 0.6);
@define-color darkGrey rgba(40, 40, 40, 0.7);
@define-color lightBlue rgb(135, 215, 230);
@define-color lightRed rgb(250, 70, 100);
@define-color bgWhite rgba(220, 220, 220, 0.8);
@define-color bgBlack rgba(20, 20, 20, 0.85);
@define-color white rgb(235, 235, 235);
@define-color black rgb(20, 20, 20);

/*
Regarding font types:
mono is monospace (all characters fit in the same sized block), 
propo is proportionally-spaced (each letter takes up as much space as it needs)
*/

* {
    font-family: 'DejaVuSansM Nerd Font Propo';
    font-weight: bold;
    font-size: 18px;
}

tooltip {
    background: @black;
    border-radius: 15px;
    border: 2px solid @lightBlue;
}

/* Main Window */
window#waybar {
    background-color: transparent;
    color: @white; /* Set default text color for all modules here */
    transition: background-color 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* -----------------------------------------------------
 * Shared Module Styling
 * ----------------------------------------------------- */

#custom-notification,
#custom-toolsIcon,
#custom-wallpaperSwitcher,
#clock,
#battery,
#disk,
#temperature,
#network,
#wireplumber,
#tray {
    margin-right: 20px;
}

#cpu, #memory {
    padding: 0 15px;
}

/* -----------------------------------------------------
 * Specific Module Adjustments
 * ----------------------------------------------------- */

#custom-appmenu {
    color: @lightBlue;
    font-size: 23px;
    margin: 3px 0px 3px 20px;
}

#custom-wallpaperSwitcher {
    margin-left: 15px;
    color: @lightBlue;
}

#custom-powermenu {
    margin-right: 25px;
    margin-left: 15px;
    color: @lightRed;
}

#custom-notification {
    font-size: 20px;
}

#network { color: @lightBlue; }
#network.disconnected { color: @lightRed; }
#wireplumber.muted { color: @bgWhite; }

/* -----------------------------------------------------
 * Workspaces & Buttons
 * ----------------------------------------------------- */

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces {
    background: transparent;
    margin: 3px 0px 3px 15px;
}

#workspaces button {
    padding: 0px 10px;
    margin: 3px 3px;
    border-radius: 8px;
    background-color: @bgWhite;
    color: @bgBlack;
    transition: all 0.15s ease-in-out;
}

#workspaces button:hover {
    background-color: @white;
}

#workspaces button.active {
    background-color: @lightBlue;
    min-width: 33px;
}

#workspaces button.urgent {
    background-color: @lightRed;
}

/* -----------------------------------------------------
 * Animations/Focus
 * ----------------------------------------------------- */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}
